<div class="header">
    <div class="wrapper clearfix">
        <div class="header__name">{{#if name}}{{name}}{{else}}Logo{{/if}}</div>
        <div class="header__links">
            {{#each links}}
                <a class="header__links-item" href="{{#if href}}{{href}}{{else}}#{{/if}}">{{name}}</a>
            {{/each}}
        </div>
    </div>
</div>